body {
  margin: 0;
  font-family: Arial;
  background: #0b1a2f;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #111;
}

.hero {
  text-align: center;
  padding: 40px;
}

input {
  padding: 10px;
  width: 300px;
}

button {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  border-radius: 6px;
  background: orange;
  cursor: pointer;
}

.products {
  padding: 20px;
}

.grid {
  display: flex;
  gap: 20px;
}

.card {
  background: #1e2a3a;
  padding: 20px;
  border-radius: 10px;
}
